@media screen {
    article{
        width: clamp(200px, 50%, 600px);
    }
}

body{
    background-color: rgb(11, 86, 41);
}

.toptext{
    font-size: 64px;
    text-align: center;
}

.subtitle{
    font-size: 16px;
    text-align: center;
}

.header{
    font-weight: bold;
    font-size: 28px;
    text-align: center;

}

.textknow{
    font-size: 22px;
    text-align: center;
    line-height: 32px;
    background-color: bisque;
    border-style: solid;
    border-width: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 48px;
    padding-right: 48px;
    
    margin-left: 5%;
    margin-right: 5%;
}

.textrate{
    font-size: 22px;
    text-align: center;
    line-height: 32px;
    background-color: bisque;
    
    border-style: solid;
    border-width: 5px;
    
    padding-top: 5px;
    padding-bottom: 5px;

    margin-left: 5%;
    margin-right: 5%;
}

.textpay{
    text-align: center;
    font-weight: bold;

}

.venmo-button{
    background-color: antiquewhite;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    cursor: pointer;

    margin-right: 8px;
    margin-left: 44%;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;

}

.paypal-button {
    background-color: antiquewhite;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    cursor: pointer;
    
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;

}

.kofi-button{    
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: antiquewhite;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    cursor: pointer;
    
    margin-left: 35%;
    margin-right: 35%;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.poem{
    margin-top: 64px;
    font-size: 12px;
    text-align: center;
    font-style: italic;
    font-kerning: 7px;
    color: yellow;

}
