@media screen {
    article{
        width: clamp(200px, 50%, 600px);
    }
}

body{
    /*background-color: rgb(10, 85, 40);*/
    background-image: url(https://github.com/46reyc-tech/BGLake.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;

}

.toptext{
    font-size: 64px;
    text-align: center;
}

.subtitle{
    font-size: 24px;
    text-align: center;
}

.header{
    font-weight: bold;
    font-size: 32px;
    text-align: center;

}
/*GIVE FONTS COLORS AND STROKES*/
.textknow{
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    background-color: bisque;
    border-style: solid;
    border-width: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 48px;
    padding-right: 48px;
    
    margin-left: 5%;
    margin-right: 5%;
}

.textrate{
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    background-color: bisque;
    
    border-style: solid;
    border-width: 5px;
    
    padding-top: 5px;
    padding-bottom: 5px;

    margin-left: 5%;
    margin-right: 5%;
}

.textpay{
    font-size: 24px;
    
    text-align: center;
    font-weight: bold;

}

.venmo-button{
    font-size: 16px;

    background-color: antiquewhite;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    cursor: pointer;

    margin-right: 8px;
    margin-left: 44%;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;

}

.paypal-button {
    font-size: 16px;

    background-color: antiquewhite;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    cursor: pointer;
    
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;

}

.insta-button{
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: antiquewhite;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    cursor: pointer;
    
    margin-left: 35%;
    margin-right: 35%;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
        



}

.kofi-button{    
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: antiquewhite;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    color: black;
    cursor: pointer;
    
    margin-left: 35%;
    margin-right: 35%;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.poem{
    margin-top: 64px;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    font-kerning: 7px;
    color: yellow;

}
