body{
    min-height: 800px;
    
    /*please find a good font*/

    /*
    max-height: 1200px;
    border: 8px solid black;
    */

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    align-content: center;
}


/*Tablet*/
@media (min-width: 1024px) {
    body{
        max-height: 1200px;
    }

    
}

/*Phone*/
@media (max-width: 600px) {
    .toptitle{
        display: flex;
        flex-shrink: 2;
    }
    .commission{
        flex-shrink: 2;
    }

    body{
        zoom: 2;
    }
    
}   

/*
GET READY TO LEARN FLEXBOX BUDDY
*/

.toptitle{
    padding-top: 25px;
    font-size: 80px;
    text-align: center;
    color: #e2a54d;
}

.commission{
    padding: 25px;
    font-family: Geneva;
    font-size: 24px;
    color: lime;

    padding-bottom: 50px;
    /* 
    text-align: center;
    color: crimson;
    */
}

.Cimage{

    border: solid red;

}

.bio{
    font-size: 18px;

    line-height: 36px;
    
    background-color: #e4f2ea;
    color: #0c2c47;


    max-width: fit-content;
    
    border-style: solid;
    border-width: 5px;
    border-radius: 16px;

    padding-left: 10px;
    padding-right: 10px;
}

.rates{
    font-family: Geneva;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    
    color: #e2a54d;
}

.boxRates{
    justify-content: center; 

    flex-direction: column;
    font-size: 26px;
    text-align: center; 
    line-height: 45px;

    background-color: #e4f2ea;
    border-color: #e2a54d;
    color: #0c2c47;

    border-style: solid;
    border-width: 5px;
    
    padding-top: 5px;
    /*padding-bottom: 5px;*/
    border-radius: 16px;

    width: 500px;
}

.venmo-button{ /*NOT PRESENT ON SCREEN*/

    justify-content: center;
    
    font-size: 16px;

    background-color: #e4f2ea;
    border-color: #e2a54d;
    border-style: solid;
    border-width: 2px;

    color: #e2a54d;
    cursor: pointer;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;

}

.paypal-button { /*NOT PRESENT ON SCREEN*/

    justify-content: center;

    font-size: 16px;

    background-color: #e4f2ea;
    border-color: #e2a54d;
    border-style: solid;
    border-width: 2px;

    color: #e2a54d;
    cursor: pointer;
    
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;

}

.consider{
    font-family: Geneva;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #e2a54d;
}

.boxKnow{
    font-size: 16px;
    text-align: center;
    line-height: 32px;

    background-color: #e4f2ea;
    border-color: #e2a54d;
    color: #0c2c47;

    border-style: solid;
    border-width: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 16px;

    width: 500px;
}

.contact{
    font-family: Geneva;
    font-size: 40px; 
    text-align: center;
    font-weight: bold;
    color: #e2a54d;
}

.buttonInsta{
    order: 1;

    display: flex;
    align-items: center;

    background-color: #e4f2ea;
    border-color: #e2a54d;

    border-style: solid;
    border-width: 5px;
    color: #0c2c47;
    cursor: pointer;

    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    border-radius: 16px;

    font-size: 24px;
    width: 350px;

}

.buttonKofi{    
    order: 1;

    display: flex;
    align-items: center;

    background-color: #e4f2ea;
    border-color: #e2a54d;

    border-style: solid;
    border-width: 5px;
    color: #0c2c47;
    cursor: pointer;

    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    border-radius: 16px;

    font-size: 24px;
    width: 350px;
}

.poem{
    order: 1;

    display: flex;
    align-self: center;

    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;

    width: fit-content;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    font-kerning: 7px;

    color: #0c2c47;
    background-color: #e2a54d;
    /*position: absolute*/
    border-radius: 16px;
}

/*
.dropdownLink{
    position: fixed;
    top: 15%;
    right: 2%;
    width: fit-content;
    height: fit-content;
    border: 3px solid aqua;


    text-decoration: none;
    background-color: blueviolet;
    color: cornsilk;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
}
*/
