
body{

    background-color: rgb(10, 85, 40);
    background-image: url("BGLake.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

/*desktop*/
@media (max-width: 1440px) {
    
}
/*tablet*/
@media (max-width: 1024px) {
    
}
/*phone*/
@media (max-width: 600px) {
    
}



.toptext{
    

    font-size: 64px;
    text-align: center;
    
}

.subtitle{
    font-family: Geneva;

    font-size: 24px;
    text-align: center;
    color: lime;


}

.header{
    font-family: Geneva;

    font-weight: bold;
    font-size: 36px;
    text-align: center;

}
/*GIVE FONTS COLORS AND STROKES*/
.textknow{

    font-size: 24px;
    text-align: center;
    line-height: 32px;
    background-color: bisque;
    border-style: solid;
    border-width: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 48px;
    padding-right: 48px;
    
    margin: auto;

    
    width: 550px;
}

.textrate{
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    background-color: bisque;
    
    border-style: solid;
    border-width: 5px;
    
    padding-top: 5px;
    padding-bottom: 5px;

    margin: auto;

    width: 550px;
}

.textpay{
    font-family: Geneva;

    font-size: 30px;
    
    text-align: center;
    font-weight: bold;
}

.venmo-button{
    font-size: 16px;

    background-color: bisque;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: black;
    cursor: pointer;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.paypal-button {
    font-size: 16px;

    background-color: bisque;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: black;
    cursor: pointer;
    
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.insta-button{
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: bisque;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: black;
    cursor: pointer;
    
    margin-left: 35%;
    margin-right: 35%;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;

    width: 175px;

    margin: auto;
}

.kofi-button{    
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: bisque;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    color: black;
    cursor: pointer;
    
    margin-left: 35%;
    margin-right: 35%;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    width: 175px;
    margin: auto;
}

.poem{

    margin-top: 64px;
    font-size: 16px;
    text-align: center;
    font-style: italic;
    font-kerning: 7px;
    color: yellow;

}
